@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --softRed: hsl(14, 88%, 65%);
  --veryDarkGrayBlue: hsl(237, 12%, 33%);
  --darkGrayBlue: hsl(240, 6%, 50%);
  --lightGrayBlue: hsl(240, 5%, 91%);
  --fontSize: 12px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize);
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: grid;
  justify-content: center;
  align-content: center;
}

.wrapper {
  background: white;
  border-radius: 30px;
  height: 509px;
  width: 920px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 6rem;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: 1260% 65%;
}

.question-answer__accordion > .answer {
  display: none;
}

.active > .answer {
  display: block;
  padding-bottom: 1.3rem;
  color: var(--darkGrayBlue);
}

.active img {
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

.accordion__wrapper {
  margin-top: 65px;

  display: flex;
  flex-direction: column;
}

.questions__accordions {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question-answer__accordion {
  width: 350px;
  border-bottom: 1px solid #e8e8ea;
}
.title__accordion {
  font-size: 3rem;
  margin-top: 0px;
}

.title__question {
  font-weight: 400;
  font-size: 1.2rem;
  color: (var(--veryDarkGrayBlue));
  margin: 1.4rem 0rem;
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s;
}

.active h3 {
  font-weight: 700;
}

.question img {
  align-self: center;
}

.image__wrapper {
  position: relative;
}

.image__wrapper_inner {
  background: url(/images/illustration-woman-online-desktop.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 120% center;
}

.box {
  position: absolute;
  top: 42%;
  left: -25%;
}

@media (max-width: 700px) {
  .wrapper {
    width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 0.5rem;
    position: relative;
    padding: 1rem;
    height: 530px;
  }
  .image__wrapper {
    background: url("./images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: center 590%;
  }

  .image__wrapper_inner {
    position: absolute;
    width: 100%;
    height: 200px;
    background-size: 72%;
    background-position: center;
    top: -129%;
  }
  .box {
    width: 55px;
    left: 19%;
    top: -30%;
  }
  .accordion__wrapper {
    margin-top: 0px;
  }
  .question-answer__accordion {
    width: 100%;
  }
  .title__accordion {
    text-align: center;
  }
}
